table th {
  /*border: none !important*/
  transition: none !important;
  /* padding: 8px !important; */
}

table td {
  /* padding: 8px !important; */
  /*border: none !important*/
  transition: none !important;
}

.custom-two-colors-row-table thead th:nth-last-child(2)::before {
  display: none;
}

.custom-row:hover {
  color: #1890ff;
}
