table th {
  /*border: none !important*/
  transition: none !important;
  /* padding: 8px !important; */
}

table td {
  /* padding: 8px !important; */
  /*border: none !important*/
  transition: none !important;
}


.custom-two-colors-row-table thead th:nth-last-child(2)::before {
  display: none;
}

.custom-row:hover {
  color: #1890ff;
}

.custom-row td:last-child {
  visibility: hidden;
}

.custom-row:hover td:last-child {
  visibility: visible;
}

.ant-table-filter-dropdown-btns {
  display: none !important;
}

/* @media (max-width: 1000px) {
    table th {
        font-size: 10px;
    }

    table td {
        font-size: 10px;
    }
} */

.custom-row-height {
  height: 44px; /* Set the desired row height */
}

.custom-two-colors-row-table .ant-table-thead > tr > th {
  height: 44px;
}

.custom-row-height .row-button {
  visibility: hidden;
  transition: visibility 0s, opacity ease-in-out;
  opacity: 0;
}

.custom-row-height:hover .row-button {
  visibility: visible;
  opacity: 1;
}