table th {
  /*border: none !important*/
  transition: none !important;
  /* padding: 8px !important; */
}

table td {
  /* padding: 8px !important; */
  /*border: none !important*/
  transition: none !important;
}

.custom-row:hover {
  color: #1890ff;
}


.custom-row:hover td:last-child {
  visibility: visible;
  opacity: 1;
} */

.ant-table-filter-dropdown-btns {
  display: none !important;
}

.custom-row-height {
  height: 44px; /* Set the desired row height */
}

.custom-two-colors-row-table .ant-table-thead > tr > th {
  height: 44px;
}

.custom-row.hover-button{
  color: red;
}