.homepage-table table tr:nth-child(even) {
    background: #4e4e4e10;
}

.homepage-table table tr {
    border-radius: 4px !important;
}

.homepage-table table tr td,
.homepage-table table th {
    border-bottom: none !important;
    padding: 6px 12px !important;
}

.homepage-table table th {
    padding-bottom: 12px !important;
    border: none !important;
}

.homepage-table table th::before {
    display: none;
}
