.custom-row {
    height: 38px !important;
}

table th {
    border: none !important;
    transition: none !important;
    padding: 8px !important;
}

table td {
    padding: 8px !important;
    border: none !important;
    transition: none !important;
}