.table-tag:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .table-tag {
        font-size: 10px;
    }

    .project-progress {
        font-size: 10px;
    }

}
