.organization-admins-table .ant-table-thead {
    visibility: hidden;
}

:where(.css-dev-only-do-not-override-17sis5b).ant-pagination .ant-pagination-prev, :where(.css-dev-only-do-not-override-17sis5b).ant-pagination .ant-pagination-next, :where(.css-dev-only-do-not-override-17sis5b).ant-pagination .ant-pagination-jump-prev, :where(.css-dev-only-do-not-override-17sis5b).ant-pagination .ant-pagination-jump-next {
    min-width: 24px;
    height: 24px;
    line-height: 0;
}

:where(.css-dev-only-do-not-override-17sis5b).ant-pagination .ant-pagination-prev, :where(.css-dev-only-do-not-override-17sis5b).ant-pagination .ant-pagination-jump-prev, :where(.css-dev-only-do-not-override-17sis5b).ant-pagination .ant-pagination-jump-next {
    margin-inline-end: 0;
}

:where(.css-dev-only-do-not-override-17sis5b).ant-pagination .ant-pagination-item {
    min-width: 22px;
    height: 22px;
    margin-inline-end: 0;
    line-height: 23px;
}

.ant-pagination.mini .ant-pagination-item {
    min-width: 24px;
    height: 24px;
    margin: 0;
    line-height: 22px;
}

:where(.css-dev-only-do-not-override-17sis5b).ant-select .ant-select-arrow {
    margin-top: -9px;
}

:where(.css-dev-only-do-not-override-17sis5b).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 22.4px;
}

:where(.css-dev-only-do-not-override-17sis5b).ant-pagination .ant-pagination-options {
    margin-inline-start: 0;
}
