@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./styles/customOverrides.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* antdesign override imports  */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
}

::-webkit-scrollbar {
    display: none;
}

/* helper classes  */
.borderless-icon-btn {
    border: none;
}

.blue-link {
    color: #1890ff; /* This is Ant Design's default link color */
}
